* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 微软雅黑;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #ccc;
}

.notebook {
	/*min-height: 2000px;*/
}

.btn-con {
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}

.content-box input,
.content-box textarea {
	padding-left: 15px;
}

.content-box li:last-child span {
	position: relative;
	top: -140px;
}

.content-box li span {
	font: 600 16px/20px "";
}

.content-box li input {
	width: 80%;
	height: 40px;
}

.content-box li textarea {
	width: 80%;
	height: 160px;
}

.footer {
	padding: 20px 0 30px;
	width: 100%;
	text-align: center;
}

.footer button {
	margin-right: 20px;
	cursor: pointer;
}

.footer button:hover {
	opacity: 0.7;
}

.header h3 {
	font: 600 16px/20px "";
}

.message {
	width: 800px;
	border: 1px solid #ccc;
	background: #fff;
	position:fixed;
	/*position: absolute;*/
	z-index: 9999;
	display: none;
}

.message .header {
	height: 40px;
	border-bottom: 1px solid #ccc;
}

.message .header h3 {
	float: left;
	margin: 10px 0px 0px 10px;
}

.message .header .close {
	float: right;
	margin: 10px 10px 0px 0px;
	font-size: 1.2em;
}

.message .content h3 {
	margin-bottom: 20px;
	text-align: center;
}

.message .content ul li {
	margin: 20px;
}

.message .content ul li span {
	display: inline-block;
	width: 80px;
	text-align: right;
	padding-right: 20px;
}

.message .act {
	text-align: center;
}

.message .btn {
	background: #ff8800;
	color: white;
	border: none;
	padding: 5px 10px;
}

.mask {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity:30);
	z-index: 9998;
	display: none;
}