@charset "utf-8";
/*底部样式*/
.footer{
	width: 100%;
	position: absolute;
	bottom: 0;
}
.foot{
	background-color: #2A2A2A;
}
.foot-c{
	padding: 24px 0;
	text-align: center;
	font: 12px/30px "";
	color: #fff;
}
.foot-c p span{
	margin-right: 50px;
}
