@charset "utf-8";
/*主页样式*/

.con-title {
	margin: 28px 0;
}

/* news menu */
.news-menu{
	margin-bottom: 60px;
}
.menu-title h2 {
	width: 90%;
	padding: 30px 0;
	text-align: center;
	background-color: #A11111;
	color: #fff;
	font:700 20px/1.5 "";
}

.news-menu-ul li {
	width: 90%;
	margin-top: 20px;
	padding: 15px 0;
	text-align: center;
	color: #434343;
	font:600 16px/1.5 "";
	background-color:#f3ccce;
	cursor: pointer;
}

.news-menu-ul  .news-menu-active {
	color: #A11111;
}

.news-tabc {
	display: none;
}

.news-tabc-active {
	display: block;
}

.list-ul h2 {
	width: 102px;
	height: 31px;
	background-color: #A11111;
	border-radius: 31px;
	font: 500 14px/31px "";
	color: #fff;
	text-align: center;
	margin-bottom: 16px;
}
.tab-title h2{
	width: 100%;
	padding: 15px 0;
	font: 700 16px/1.5 "";
	text-align: center;
}
.Activities-report{
	padding-bottom: 60px;
}
.list-ul ul li a {
	font: 500 14px/35px "";
}

.page-list{
	padding: 30px 0 0;
}